// Place all the styles related to the Mirror controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: black
}

head {
  text-align: center;
  color: white;
}

#top {
  text-align: center;
}

#time {
  text-align: center;
  font-size: 50px;
  width: auto;
  border-color: white;
  border-style: groove;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  color: white;
}

#leftSide {
  float: left;
  text-align: center;
  padding-left: 100px;
}

#rightSide {
  float: right;
  text-align: center;
  padding-right: 100px;
}

.high {
  color: red;
}

.low {
  color: blue;
}
